*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--primary-color)
}

:root{
    --primary-color :  rgba(196, 166, 166, 0.822);
    --secondary-color : rgb(241, 214, 214);
}

.dark-theme{
    --primary-color :  rgba(56, 54, 54, 0.822);
    --secondary-color : rgb(190, 184, 184);
}


#form{
    width: 65%;
    max-width: 400px;
    height: 5em;
    border-radius: 20px 0px;
    background: var(--secondary-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    animation: move 5s ease-in-out infinite alternate-reverse;
}

@keyframes move{
    0%, 100%{
        transform: translate(-50% , -50%) scale(1);
    }
    50%{
        transform: translate(-50% , -50%) scale(1.02);
    }
}

input{
    outline: none;
    border: none;
    background: var(--secondary-color);
    font-size: larger;
}

#eyeIcon{
    width: 2.5em;
    cursor: pointer;
}

#icon {
    width: 40px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    cursor: pointer;
}
