* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    background: rgba(175, 224, 226, 0.719);
}



form{
    height: 5em;
    width: 20em;
    max-width: 500px;
    background: #96c0db;
    border-radius: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    display: flex;
    justify-content: start;
    align-items: center;
}

input{
    background: #96c0db;
    padding: 0.2em;
    margin-left: 6px;
    outline: none;
    border: none;
    font-size: larger;
}

form img{
    width: 2em;
    cursor: pointer;
}